

<div id="login" class="jumbotron">

    <div>
        <h4 style="color:#F53C12">LogIn In To Your Account</h4><hr>
    </div>


    <form #loginForm="ngForm" ngNativeValidate (ngSubmit)="OnSubmit(UserName.value, Password.value)">


        <div id="signIn" class="form-row">

            <div class="col">
                <input type="text" #UserName ngModel name="UserName" required class="form-control" id="inputUserName"
                    placeholder="UserName">
            </div>

            <div class="col">
                <input type="password" #Password ngModel name="Password" required class="form-control"
                    id="inputPassword" placeholder="Password">
            </div>

            <div class="col">
                <button id="LoginB" class="btn btn-primary" type="submit">LogIn</button>

            </div>




        </div>
    </form>



</div>