
#inputUserName{

height: 27px;


}


#inputPassword{

    height: 27px;
    
    
    }


    #loginButton{
 width: 100px;
        height: 27px;
        margin: 0 auto;
        padding: 0;
        display: inline-block;
        line-height: 0px;
        text-align: center !important;
    
    }