<router-outlet name="aux">


  <img id="logo" src="assets/newlogo.png">

  <nav class="navbar navbar-dark bg-dark mb-5">

    <a class="navbar-brand" href="/" >SA-SA</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">



       
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
        <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a class="nav-item nav-link" *ngIf="auth.isUserAdmin()"  routerLink="/secrets" routerLinkActive="active" >Secrets</a>

      </div>
    </div>

    <!-- <button *ngIf="!auth.isUserLoggedIn()" (click)="ShowLogin()" >Login</button>
    <button *ngIf="!auth.isUserLoggedIn()" >Signup</button>
    
    <div *ngIf="ShowLogin()"><app-login ></app-login></div>
     -->
    
     <div><button id="loginSignInButtons"  routerLink="/sign-up" *ngIf="!auth.isUserLoggedIn()" >SignUp</button></div>
     <div><button id="loginSignInButtons"  routerLink="/login"  *ngIf="!auth.isUserLoggedIn()" >LogIn</button></div>
     <app-logout *ngIf="auth.isUserLoggedIn()"></app-logout> 

    <!-- <app-login *ngIf="!auth.isUserLoggedIn()"></app-login> -->
    
    
  </nav>


</router-outlet>


<app-layout>



  <router-outlet></router-outlet>



</app-layout>