<router-outlet name="aux">


  <img id="logo" src="assets/logo2.gif">

  <nav class="navbar navbar-dark bg-dark mb-5">

    <a class="navbar-brand" href="/">AVIS</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">



       
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
        <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a class="nav-item nav-link" *ngIf="auth.isUserAdmin()"  routerLink="/secrets" routerLinkActive="active" >Secrets</a>

      </div>
    </div>
<!-- 
    <button *ngIf="!auth.isUserLoggedIn()" >Signup</button>
    <button *ngIf="!auth.isUserLoggedIn()" (click)="ShowLogin" >Login</button>
    <button *ngIf="testB=10" >Signup</button> -->
    <app-login *ngModel="!auth.isUserLoggedIn()"></app-login>
    <app-logout *ngIf="auth.isUserLoggedIn()"></app-logout>
  
  </nav>


</router-outlet>


<app-layout>



  <router-outlet></router-outlet>



</app-layout>