


  
  <router-outlet name="aux">
    
    
      <img id="logo" src="assets/logo2.gif">
      
    <nav class="navbar navbar-dark bg-dark mb-5">

      <a class="navbar-brand" href="/">AVIS</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
            <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a> 
       
        </div>
      </div>
    </nav>
  
    
    
  
      
      
      </router-outlet>


<app-layout>
  
   

    <router-outlet></router-outlet>

    
 
</app-layout>

