
<div class="jumbotron">
<p>
  welcome back <b>{{UserName}}!</b>
</p>
<p>Here you can watch your previous purchases from SaSa</p>

<table class="table table-bordered">
<thead>
    <tr>
      
        <th scope="col">Date</th>
        <th scope="col">Car</th>
        <th scope="col">Days of Rent</th>
        <th scope="col">Total Cost</th>

    </tr>
</thead>


<tbody>
    <tr
        *ngFor="let purchase of Fakepurchase" >
        
        <td>{{purchase.Date}}</td>
        <td>{{purchase.car}}</td>
        <td>{{purchase.Days}}</td>
        <td>{{purchase.TotalCost}}</td>

    </tr>

</tbody>
</table>
</div>