/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.jumbotron {
    max-width: 100%;
    min-width: 360px;
    width: 100%;
    
}

.container {
    max-width: 100%;
    min-width: 360px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    
}

#HomeImage{

    position: relative;
    object-fit: cover;
}

@media (min-width: 600px){
#mainbackground{

    
    object-fit: cover;
    width: 100%;
    height: 600px;
   
   
}
}


@media (max-width: 600px){
    #mainbackground{
    
        object-fit: cover;
        width: 100%;
        height: 250px;
       
       
    }
    }

.navbar.navbar-dark.bg-dark.mb-5{

margin-bottom: 0em !important;
}


@media (min-width: 1200px){

    #CarsOnBackground {

        height: 100%;
        width: 1200px;
        margin-top:  -320px;
        min-height: 496px;
      
      }
}
 
#carsfront{

display: flex;
justify-content:center;
}


@media (max-width: 1471px){

    #CarsOnBackground {

        height: 100%;
        width: 950px;
        margin-top:  -270px;
     
      }
}

@media (max-width: 1128px){

    #CarsOnBackground {
   
        height: 100%;
        width: 860px;
        margin-top:  -240px;
     
              
      }
}



@media (max-width: 996px){

    #CarsOnBackground {
   
        height: 100%;
        width: 800px;
        margin-top:  -220px;
      
              
      }
}

@media (max-width: 848px){

    #CarsOnBackground {
   
        height: 100%;
        width: 750px;
        margin-top:  -200px;
        
              
      }
}


@media (max-width: 707px){

    #CarsOnBackground {
   
        height: 100%;
        width: 700px;
        margin-top:  -180px;
       
              
      }
}



@media (max-width: 600px){

    #CarsOnBackground {
   
        height: 100%;
        width: 450px;
        margin-top:  -130px;
       
              
      }
}


@media (max-width: 454px){

    #CarsOnBackground {
   
        height: 100%;
        width: 400px;
        margin-top:  -110px;
        
              
      }
}

#logo{

height: 115px;
width: auto;
object-fit: fill;
position: absolute;
z-index: 2;
padding-left: 30px
}

.navbar.navbar-dark.bg-dark.mb-5{

padding-left: 150px 

}




    button.calendar, button.calendar:active {
        width: 2.75rem;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
        background-repeat: no-repeat;
        background-size: 23px;
        background-position: center;
      }

  
      #DatePicker.jumbotron{

    width: 100%;
    max-width: 80%;
    max-height: 150px;
   position: absolute;
  margin-top: 250px;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
  background-color: white;
  

 }

 
 #mainContain{

width: 80%; 
max-height: 150px;
position: absolute;
margin-top: 220px;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
background-color: #ffffffc7;
display: flex;
justify-content: start;
min-height: 156px;

 }


#mainDivs{
margin-top: auto;
margin-bottom: auto;
margin-left: 0px;
margin-right: 30px;

}

.MainDates{

/* width: 300px */

}

 #datePick{

    display: flex;
    justify-content: end;

 }

 #date1{


 }

 #signup.jumbotron{

    padding-left: 500px;
    padding-right: 500px;
 }

 #login.jumbotron{
  height: -webkit-fill-available;
  padding-left: 500px;
  padding-right: 500px;
}


#signupB{
  color: white;
  background-color: black;

      }
#LoginB{
  color: white;
  background-color: black;

      }
  
 .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child){

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: black;
    border-width: 1.5px;
    border-right-color: black;
    height: 48px;

 }

 .input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child){
border-left-color: transparent !important;
border-color: black;
border-width: 1.5px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
 }

 .bg-dark{

    background-color: black !important;
 }

 .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus{

    color: #fe3a0f
 }




 #mainbutton{
    padding: 15px 20px;
    background: rgb(0, 0, 0);
    border:0;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: block;
    margin: 74px auto;
  }
  
  #mainbutton::after,
  #mainbutton::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
      opacity: 0;
    transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #mainbutton::after{
      width: 30px;
      height: 1px;
      background: white;
      transform: translateX(-3px);
      margin-top: 0px;
  }
  
  #mainbutton::before{
      content: "";
      transform: rotate(-135deg) translateX(50%);
      width: 11px;
      height: 11px;
      background: transparent;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
    margin-top: -1px;
  }
  
  
  #mainbutton:hover{
    padding: 15px 60px 15px 20px;
  }
  
  #mainbutton:hover::after,
  #mainbutton:hover::before{
    opacity: 1;
    right: 15px;
  }

  #locationSelection{
border-color: black;
border-width: 1.5px;
height: 48px;
width: 350px;
margin-left: 50px !important;

  }

  .locationSelectionText{ padding-left:50px}

#loginSignInButtons{
    
    background-color: transparent;
    border-color: transparent;
    color: white;
}
#loginSignInButtons:hover{

    color:#F53C12;
}
  
.entryDiv{
  display: flex;
  justify-content: center;
  width: 100%;



  
}
#entreyText{
margin-top: 80px; 
 position: absolute;
 color:#F53C12;
 font-size: 65px;
  
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-21 17:40:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.WrapCarResult{
position: relative;
height: 230px;
display: flex;
justify-content:space-between;
width: 90%;

}

#ImgCarResult{
margin-top: auto;
margin-bottom: auto;
height: 80%;
}



#CarsLI{

  list-style-type: none;
}

/* #errorMes{


  
} */

#AboutBackground{

height: 300px;
width:100%;
object-fit: cover;


}

.card-img-top {
  width: 70%;
 
}

.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
  text-align: center;
  vertical-align: middle;
}

#WhiteBackground{

  background: white;
  padding-top: inherit;

}


#SearchBox{
padding-left: initial;
padding-bottom: 20px;
margin: auto;
}