
<div class="entryDiv"><h1 id="entreyText" class="tracking-in-expand">Sa-Sa Rantal Cars</h1></div>


<div id="mainContain" class="container">

    <div class="mainlocation" id="mainDivs">
  <div class="locationSelectionText"><h3>Location</h3></div>
      
     
      <select id="locationSelection">
          <option *ngFor="let location of locations" value="" required >{{location.locationName}}</option>
        
        </select>              
      
    </div>
  
    <div class="MainDates"  id="mainDivs">
      <h3>Date Taken</h3>
      <app-datereturn (Change)='GetTaken($event)'></app-datereturn>
  
    </div>
  
    <div class="MainDates"  id="mainDivs">
  
      <h3>Date Return</h3>
      <app-datereturn (Change)='GetReturn($event)'></app-datereturn>
      <div *ngIf="expression"> <p id="errorMes" style="color:red">Type Error</p></div>
     
    </div>

    <div id="mainDivs">
<button (click)="ConvertToNativeDate();" id="mainbutton">Order Now</button>


    </div>
  </div>



   


  <img id="mainbackground"  src="assets/road.jpg" alt="">

  <div id="carsfront">
  <img id="CarsOnBackground" src="assets/carros.png" alt="">
</div>

<h1>Home</h1>

<br>

<div>

    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="\assets\cars\1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Class A</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="\assets\cars\5.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Class B</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="\assets\cars\3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Class C</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="\assets\cars\11.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Class D</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>

      <br>
      <br>

<img id="HomeImage"  src="\assets\maldives.jpg"  alt="maldives"  width="100%" height="300px">

</div>

<br>

<p>
  What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Why do we use it?
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


Where does it come from?
Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
</p>


